/* Ensures that the website covers the full screen*/
html, body {
    padding: 0;
    margin: 0;
}

/* Sets up the first page, the header or profile page*/
#header {
    height: 100vh;
    width: 100%;
    background-color: #fff6ed;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

/* Creates the top bar*/
#header #topbar {
    /* Creates the box */
    background-color: #d2cabc;
    width: 95%;
    border-radius: 24px;
    box-sizing: border-box;

    /* Sets up box location*/
    padding: 20px 30px;
    margin-top: 10px;
    margin: 2% 5%;

    /* Manages content*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8%;

    /* Text styling*/
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2 rem;
    font-weight: bold;
    color: white;
}

/* Sets up the profile section, a box with two elements*/
#header .profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    box-sizing: border-box;

    padding: 0 30px;
    margin-top: 10px;
    margin: 2% 5%;
}

/* Portrait */
#header .profile #portrait {
    margin-top: 30px;
}

/* Portrait */
#header .profile #portrait img {
    width: 40vw;
    height: auto;
}

/* Name and Tagline */
#header .profile .text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;

    width: 40vw;
    height: 40vh;
    background-color: #e5dfd4;
    border-radius: 12px;

    color: #1b4028;
    font-weight: bold;
    font-size: 2rem;
}

#header .profile .text #name {
    font-size: 2.5rem;
}

#header .profile .text #tagline {
    font-size: 1.5rem;
    font-style: italic;
}

/* Changes the layout into vertical if the screen is small like in phones */
@media (max-width: 768px) {
    #header .profile {
        flex-direction: column;
        gap: 10px; 
    }

    #header .profile #portrait img {
        width: 60vw;
        height: auto;
    }

    #header .profile .text {
        width: 80vw; 
        height: auto; 
    }
}

/* About me page */
#main .about_me {
    height: 100vh;
    width: 100%;
    background-color: #fff9f4;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #1b4028;
    font-weight: bold;
}

#main .about_me #text {
    background-color: #e5dfd4;
    width: 80vw;
    max-width: 600px;
    height: auto;

    font-size: 1.2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;

    padding: 20px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 12px;
}

/* Projects page */
#main .projects {
    height: 100vh;
    width: 100%;
    background-color: #fff6ed;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #1b4028;
    font-weight: bold;
}

#main .projects #content {
    background-color: #e5dfd4;
    width: 80vw;
    max-width: 600px;
    height: auto;

    font-size: 1.2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    flex-direction: column;

    padding: 20px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 12px;
}

#main .projects #content img {
    width: 60vw;
    max-width: 500px;
    height:auto
}

/* Skills page */
#main .skills {
    height: 100vh;
    width: 100%;
    background-color: #fff9f4;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #1b4028;
    font-weight: bold;
}

#main .skills #content {
    background-color: #e5dfd4;
    width: 60vw;
    max-width: 300px;
    height: auto;

    font-size: 1.2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    flex-direction: column;

    padding: 20px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 12px;
    gap: 15px;
}

#main .skills #content #game_design, #python, #c, #writing{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}

/* Footer page */
#footer {
    height: 100vh;
    width: 100%;
    background-color: #fff6ed;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #1b4028;
    font-weight: bold;
}

#footer h1 {
    margin-top: 30vh
}

#footer .contact {
    background-color: #e5dfd4;
    width: 60vw;
    max-width: 300px;
    height: auto;

    font-size: 1.2rem;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: justify;
    flex-direction: column;

    padding: 20px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 12px;
    gap: 15px;
}

#footer .contact #email, #phone {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}

/* Footer bar */
#footer .bottombar {
    background-color: #d2cabc;
    width: 95%;
    border-radius: 24px;
    box-sizing: border-box;

    padding: 20px 30px;
    margin-top: 30vh;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8%;
    
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2 rem;
    font-weight: bold;
    color: white;
}

